{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>login</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/normalize-login.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/demo-login.css' %}" />
<link rel="stylesheet" href="{% static 'css/jquery.jgrowl.min.css' %}">
<!--必要样式-->
<link rel="stylesheet" type="text/css" href="{% static 'css/component-login.css' %}" />
<!--[if IE]>
<script src="js/html5.js"></script>
<![endif]-->
<style>
	input::-webkit-input-placeholder{
		color:rgba(0, 0, 0, 0.726);
	}
	input::-moz-placeholder{   /* Mozilla Firefox 19+ */
		color:rgba(0, 0, 0, 0.726);
	}
	input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
		color:rgba(0, 0, 0, 0.726);
	}
	input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
		color:rgba(0, 0, 0, 0.726);
	}
</style>
</head>
<body>
		<div class="container demo-1">
			<div class="content">
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
					<div class="logo_box">
						<h3 style="font-weight: 800;font-size: 1.3em;">摩拜单车时空大数据挖掘分析系统</h3>
						<form action="#" name="f" method="post">
							<div class="input_outer">
								<span class="u_user"></span>
								<input id="ID" name="logname" class="text" style="color: #000000 !important" type="text" placeholder="请输入账户">
							</div>
							<div class="input_outer">
								<span class="us_uer"></span>
								<input id="PASSWORD" name="logpass" class="text" style="color: #000000 !important; position:absolute; z-index:100;"value="" type="password" placeholder="请输入密码">
							</div>
							<div id="LOGIN" class="mb2"><a class="act-but submit" href="javascript:;" onclick="login()" style="color: #FFFFFF">登录</a></div>
                            <div id="sub" class="mb2"><a class="act-but submit" href="javascript:;" onclick="register()" style="color: #FFFFFF">注册</a></div>
						</form>
					</div>
				</div>
			</div>
		</div><!-- /container -->
		<script src="{% static 'js/TweenLite.min.js' %}"></script>
		<script src="{% static 'js/EasePack.min.js' %}"></script>
		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/rAF.js' %}"></script>
		<script src="{% static 'js/demo-1.js' %}"></script>
		<script src="{% static 'js/jquery.jgrowl.min.js' %}"></script>
		<script src="{% static 'js/Longin.js' %}"></script>
        <script>
            function register(){
                window.location.href="/register/";
            }
        </script>
		<div style="text-align:center;">
</div>
	</body>
</html>