@charset "utf-8";
*{margin:0;padding:0}
html,css{width:100%;height:100%}


.spot{position:absolute;width:100%;height:100%;top:0;left:0}
.svg-wrapper{margin-top:20px;position:relative;width:150px;height:40px;display:inline-block;border-radius:3px;margin-left:65px;}
#shape{border-radius: 4px;stroke-width:6px;fill:#149b14;stroke:white;stroke-dasharray:85 400;stroke-dashoffset:-220;transition:1s all ease}
#text{margin-top:-37px;text-align:center}
#text a{color:white;text-decoration:none;font-weight:700;font-size:1.7em}
.svg-wrapper:hover #shape{stroke-dasharray:50 0;stroke-width:5px;stroke-dashoffset:0;stroke:#ffff00}